.admin-footer{
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color:#f3f3f3;
    font-size: 20px;
    color: var(--main-color-d);
    text-align: center;
    padding-right: 100px;
   
}
.admin-footer .contant{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px -1px 1px #ddd;
}
.admin-footer h6{
    font-size: 14px;
    padding-top: 3px;
}
.admin-footer span{ 
    color: var(--main-color);
}
@media (max-width: 768px) {
    .admin-footer{
        padding: 0;
        height: 60px;
    }
    .admin-footer .contant{
        flex-direction: column;
    }
}