.school-info{
    width: 90%;
    margin: 50px auto;
    height: auto;
    border-top: 7px solid var(--main-color-d);
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    height: 230px;
    padding-top: 20px;
    font-family: var(--font-ar-c);
}
.school-info .info-img{
    display: flex;
}
.info-text{
    flex: 1;
    color: #fff;
    position: relative;
    padding-right: 30px;
    text-align: center;
}
.school-info .info-titel{
    text-align: center;
    font-size: 14px;
    color:#333;
    font-weight: bold;
}
.school-info .info-contant{
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
    
}
.school-info .button button{
    display: block;
    margin-left: 60px;
    margin-top: -60px;
    border: 1px solid #fff;
}
.school-info .button button:hover{
color: var(--main-color);
}
.school-info .button button:hover span{
    background-color: #fff;
    }
.info-img img{
    width: 335px;
    background-size: cover;
    margin-left: -12px;
    margin-bottom: 21px;
}

/* Start About School */
.about-school{
    width: 100%;
    margin-top: 50px;
    text-align: right;
    font-family: var(--font-ar-c);
    line-height: 2.25;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 50px;
    background-color: #fff;
    border-top-right-radius: 120px;
    border-top-left-radius: 10px;
    padding-bottom: 100px;
    border-bottom-left-radius: 120px ;
    box-shadow: var(--main-shadow);
}
.about-school .main-title{
    margin-bottom: 30px;
}
.about-school .about-contant{
    padding: 50px;
    color: #777;
    font-size: 14px;
    
}
.about-school .about-img{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-school .about-img img{
    height: 300px;
    border: 1px solid #000;
   
}
/* End About School */
/*Medim */
@media (max-width: 992px) {
    .school-info .info-img{
        display: none;
    }
}
/*Small */
@media (max-width: 768px) {
    .school-info{
        margin-top: 20px;
        padding-bottom: 50px;
        height:  auto;
        width: 98% !important;
        margin-bottom: -50px;
      border-bottom-left-radius: 120px;
      border-bottom-right-radius: 20px;
    }
    .school-info .info-titel{
        margin-top: 10px;
    }
    .school-info .button button{
        display: inline;
        margin:15px 0 5px;
    }
    .about-school{
    margin-top: 150px;
    width: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    }
.about-school img{
    height: auto !important;
    width: 96% !important;
    border: 3px solid var(--main-color) !important;
    border-radius: 10px;
}
}