.sub-page-cover{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.cover-sub-pages .sub-page-cover,
.cover-sub-pages .overlay{
    width: 100%;
    height: 65vh;
    position: absolute;
    top: 0;
    left: 0;
}
.cover-sub-pages .overlay{
    background-color: rgba(0,0,0,.60);
    z-index: 2;
}

.cover-sub-pages .main-title{
    z-index: 5;
    color: #fff;
    transform: translate(-10%, 200px);
    font-size: 16px;
}


/*Medim */
@media (max-width: 992px) {
   
}
/*Small */
@media (max-width: 768px) {
    .cover-sub-pages .sub-page-cover,
    .cover-sub-pages .overlay{
    height: 50vh;
    }
}