
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  margin-bottom: 50px;
  font-family: var(--font-ar-c);
  font-size: 16px;
}
.header .hr{
  border: 1px solid #fff;
    width: 81%;
    float: right;
    margin-right: 58px;
    margin-top: 9px;
}
.header .slider-con {
  position: absolute;
  top: 0;
  width: 96%;
  left: 0;
  z-index: 0;
}
.banner {
  width: 100%;
}
.banner .navbar {
  width: 100%;
  margin: auto;
  padding:  0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.banner .logo-con {
  position: absolute;
  top: 20px;
  left: -50px;
}
.slider-con .logo {
  width: 100px;
  position: absolute;
  top: 20px;
  left:50px;
  z-index: 1;
}

.banner .navbar .nav-con{
  flex: 1;
  margin: 20px 60px;
  display: flex;
  flex-direction: row-reverse;
}
.banner .navbar .login-con{
  display: flex;
  align-items: center;
}
.banner .navbar .links-con{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  flex-direction: row-reverse;
}
.banner .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.banner .navbar ul li a {
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}
.banner .nav-con.active li a {
  font-weight: bold;
}

.banner .navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -31px;
  transition: 0.5s;
}
.banner .navbar ul li  a.active{
  color: var(--main-color);
}
.banner .navbar ul li a:hover{
  color: #fff;
}
.banner .navbar ul li:hover::after ,
.banner .navbar ul li.active::after {
  width: 100%;
}

.banner .mobile-menu {
   position: absolute;
    width: 30px;
    right: 28px;
    top: 10px;
    visibility: hidden;;
}
.banner .mobile-menu img {
  cursor: pointer;
}
.banner .logo-con-b,
.logo-b,
.title{
  visibility:hidden;
  transition: 0.5s;
}
.logo-b{
  width: 50px;
  position: absolute;
  left: 65px;
  top: 1px;
}
.logo-b.active{
  visibility: visible;
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 3;
  transition: 0.5s;
}
.nav-con.active{
  background: var(--baner-back);
  position: fixed;
  width: 100%;
  top: -20px;
  height: 50px;
  left: -60px;
  opacity: .99;
  transition: visibility 5s;
}
.banner .navbar ul.active li::after
{
  bottom: -6px;
}
.title.active{
    visibility: visible;
    position: fixed;
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    top: 15px;
    left: 64px;
    z-index: 3;
    transition: 0.5s;
}
 /*Medim */
 @media (max-width: 992px) {

 }
/*Small */
@media (max-width: 768px) {
  .slider-con{
    margin-top: 60px;
  }
  
  .banner{
    position: fixed;
    top: -1px;
    height: 47px;
    background: var(--baner-back);
  }
  .hr{
    visibility: hidden;
  }
  .title{
    visibility: visible;
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    top: 33%;
    left: 30%;
    transition: 0.5s;
  }
 .logo {
   visibility: hidden;
   transition: 0.5s;
  }
  .logo.active{
    visibility: visible;
    z-index: 1;
    transition: 0.5s;
  }
.logo-b {
  visibility: visible;
  transition: 0.5s;
  top: -20px;
  }
.banner .mobile-menu {
  visibility: visible;
  transition: 0.5s;
  }
 .banner .navbar{
  position: relative;
  }
  .banner .navbar .login-con{
    justify-content: center;
  }
 .banner .navbar .nav-con {
  visibility: visible;
    position: absolute;
    top: 32px;
    width: 75%;
    background: var(--baner-back);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    flex-direction: column-reverse;
    border-radius: 10px;
    box-shadow: 5px 1 px #000;
  }
 .banner .navbar .links-con {
    flex-direction: column;
  }
 .banner .nav-con.active {
  visibility: visible;
   opacity: .9;
   transform: translateY(30px) ;
   transition: width 2s, visibility 1s, opacity 0.5s linear;
   margin-top: -40px;
  }
  .banner .nav-con.close {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px) ;
    transition: visibility 1s, opacity 0.5s linear;
   }
  .banner .nav-con li ,
   .banner .login-con li {
    padding: 15px 0 15px 0;
  }
  .banner .login-con{
    padding-top: 10px;
    justify-content: center;
  }
  .banner .navbar ul li a:hover {
    color: #000;
  }
  .banner .navbar ul li::after {
    background-color: var(--main-color-b);
    bottom: 1px;
  }
}
