.footer-cover{
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.footer-cover .overlay{
    background-color: var(--main-overlay);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.footer-cover,
.footer-cover .overlay{
    height: 550px;
    border-bottom: 2px solid var(--main-color) ;
    border-top: 1px solid var(--main-color) ;
}
.footer-cover .contant{
    z-index:2;
    color: #fff;
    font-family: var(--font-ar-c);
    font-size: 16px;
}
.footer-cover .contant i{
    color: var(--main-color);
    margin-top: 150px;
    margin-bottom: 60px;
    font-size: 35px;
   
}
.footer-cover .contant .row{
   flex-direction: row-reverse;
}
.footer-cover .contant .col-md{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-cover .contant .col-md p{
    direction: rtl;
}
.footer .main-title{
    margin:50px 0;
    transform: translate(-45%);
}

footer .footer-logo{
    width: 100%;
    height: 500px;
    background-color: var(--main-color-g);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo img{
    height: 250px;
    margin: 20px 0;
}
.footer-sub-title{
    margin: 10px;
    color: #fff;
    font-family: var(--font-ar-c);
    font-size: 20px;
    text-shadow: 1px 2px 2px var(--main-color) ;
}

.footer a{
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    color: var(--main-color);
    cursor: pointer;
}
/*Medim */
@media (max-width: 992px) {
    
}
/*Small */
@media (max-width: 768px) {
    .footer .main-title{
        transform: translate(-40%);
    }
    .footer-cover , .footer-cover .overlay{
        height: 550px;
    }
    .footer-cover .main-title{
        margin-top: 20px;
    }
    .footer-cover .contant :first-child{
        margin-top: 30px;
    }
    .footer-cover .contant i{
        margin: 30px 0 10px;
        font-size: 28px;
    }
    .footer-cover .contant .col-md{
        margin-bottom: 40px;
        font-size: 13px;
    }
    footer .footer-logo{
        height: 300px;
    }
    .footer-logo img{
        height: 120px;
      margin:-10px 0 10px;
    }
    .footer-sub-title{
        margin-top: 10px;
        font-size:14px;
    }
}