
.featured-news{
    margin: 0px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100% ;
    height: auto;
    font-family: var(--font-ar-c);
    transition: 0.3s;
    border-radius: 10px;
    transition: all .5s ease;
}

.featured-news-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    margin-bottom: 50px;
    border-radius: 5px;
    position: relative;
    flex: 1;
    transition: all .5s ease;
}

.featured-news.wider 
.featured-news-item{
    margin-top: -100px;
    max-width: 400px;
    padding: 20px;
}
.featured-news-item:hover{
    cursor: pointer;
}

.featured-news-item .featured-title h2{
    margin: 30px;
    font-size: 15px;
    text-align: center;
    direction: rtl;
    min-height: 40px;
}
h2{
    color: #000;
}
.featured-news-item .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.featured-news-item .image img{
    display: block;
    margin: auto;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 1;
    border: 3px solid var(--main-color-d);
}
.featured-news.wider 
.featured-news-item .image img{
    width: 260px;
    height: 175px;
}
.featured-news .featured-news-item .image img:hover{
    box-shadow: 0 8px 16px 0 rgba(10,10,0,0.2);
    opacity: .8;
}

.featured-news-item .img-desc {
    position: absolute;
    padding: 10px;
    text-align: justify;
    direction: rtl;
    font-size: 13px ;
    top: 63%;
    width:50%;
    height:30%;
    background: #f7f7f7;
    max-height: 200px;
    z-index: 1;
}
.featured-news.wider 
.featured-news-item .img-desc{
    left: 25%;
    top: 80%;
    height:20%;
}
.featured-news.wider 
.swiper .swiper-button-prev,
.featured-news.wider 
.swiper .swiper-button-next {
    top: 45% !important;
    
}
.featured-news.wider 
.swiper .swiper-button-next {
    left: -2px !important;
}
.featured-news.wider 
.swiper .swiper-button-prev {
    right: -2px !important;
}
.featured-news-item  h5{
    font-size: 13px !important;
}
.featured-news.wider 
.featured-news-item  h5{
    font-size: 12px !important;
}
.featured-news-item:hover .img-desc{
    border: none;
}

.featured-news-item .img-desc span{
    position: absolute;
    display: block;
    left: 0;
    top:25px;
    transition: all .3s ease ;
    width: 100%;
    padding: 10px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 4px solid var(--main-color-d) ;  
}
.featured-news.wider 
.featured-news-item .img-desc span{
    min-height:60px;
    
}

.featured-news-item:hover  span,
.featured-news-item .img-desc:hover span{
    top:5px;
    width:  100%;
    cursor: pointer;
    background-color: var(--main-color-d);
    color: #fff;
}
.featured-news.wider 
.featured-news-item:hover  span,
.featured-news-item .img-desc:hover span
{
    top:5px;
  height: 80px;
}
.featured-news.three{
    display: none;
}
.featured-news.wider{
    display: block;
    margin-bottom: -80px;
}
/*Larg */
@media (max-width: 1120px) {
    .featured-news{
        width: 100% !important;
        margin: auto;
    }
    .featured-news-item .image img{
        width: 200px ;
        height: 133px;
    }
}
 /*Medim */
 @media (max-width: 992px) {
    .featured-news.wider 
.featured-news-item .img-desc{
    left: 15%;
    width: 70%;
    height:30%;
}
}
/*Small */
@media (max-width: 768px) {
    .featured-news{
        margin-bottom: -80px;
    }
    .featured-news-item{
        margin-top: -250px;
    }
    .featured-news-item .featured-title h2{
        margin-top: 200px;
        font-size: 15px;
        text-align: center;
        direction: rtl;
        min-height: 40px;
    }
    .featured-news-item .image{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .featured-news-item .image img{
        width: 100%;
        display: block;
        margin: auto;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        opacity: 1;
    }
    .featured-news .featured-news-item .image img:hover{
        box-shadow: 0 8px 16px 0 rgba(10,10,0,0.2);
        opacity: .8;
    }
    
    .featured-news-item .img-desc {
        position: absolute;
        padding: 10px;
        text-align: justify;
        direction: rtl;
        font-size: 13px ;
        top: 80%;
        width:60%;
        height:60%;
        background: #f7f7f7;
        max-height: 200px;
    }
    .featured-news-item  h5{
        font-size: 13px !important;
    }
    .featured-news-item:hover .img-desc{
        border: none;
    }
    .featured-news-item .img-desc span{
        position: absolute;
        display: block;
        left: 0;
        top:10px;
        transition: all .3s ease ;
        width: 100%;
        padding: 10px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 4px solid var(--main-color-d) ;  
    }
    .featured-news-item:hover  span,
    .featured-news-item .img-desc:hover span{
        top: 4px;
        width:  100%;
        cursor: pointer;
        background-color: var(--main-color-d);
        color: #fff;
        cursor: pointer;
    }
    .featured-news.three{
        display: block;
        margin-bottom: -120px;
    }
    .featured-news.wider{
        display: none;
    }
    .featured-news
    .swiper .swiper-button-prev{
        right: 30px;
    }
.featured-news 
.swiper .swiper-button-next{
   left: 30px;
}
}
@media (max-width: 500px) {
    .featured-news-item .featured-title h2{
        margin-top: 50px;
    }
}   