:root {
  --main-color: #e18f1a;
  --main-color-b: #1d96a1;
  --main-color-c: #72e9ea;
  --main-color-d: #41b672;
  --main-color-f: #f89409;
  --main-color-e: #f6d8b4;
  --main-color-g: #3bb282;

  --body-color: #f7f7f7;

  --font-ar-a: Scheherazade ,Arial, Helvetica, sans-serif;
  --font-ar-b: Mukta,Arial, Helvetica, sans-serif;
  --font-ar-c: Almarai,Arial, Helvetica, sans-serif;
  --font-ar-d: 'Lateef', cursive;;

  --baner-back: linear-gradient(90deg, var(--main-color-d),#2facac);
}

body{
  background-color:  #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-title{
  text-align: right;
  font-family: var(--font-ar-c);
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.main-title::after{
  content: "";
    position: absolute;
    bottom: -20px;
    right: 0px;
    border: 2px solid var(--main-color);
    width: 45px;
    text-align: right;
    direction: rtl;
}

.error{
  color: red;
  margin: 10px;
} 
