.admin-nav{
    position: relative;
}

.admin-img{
    width: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.admin-nav .title{
    display: none;
}
/*Small */
@media (max-width: 768px) {
    .admin-nav{
        width: 80%;
        display: flex;
        justify-content: center;

    }
    .admin-img{
        width: 40px;
    }
    .admin-nav .title{
        margin-top: 15px;
       display: block;
       flex: 1; 
       font-size: 14px;
       text-align: center;
       justify-content: center;
       padding-left: 40px;
       font-family: var(--font-ar-c);
       color: var(--main-color-d);
       }
}